<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.saxion.jelmer.topics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="nl.saxion.jelmer.topics.activity.MainActivity"
            android:label="Topics"/>
        <activity android:name="nl.saxion.jelmer.topics.activity.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nl.saxion.jelmer.topics.activity.RegisterUserActivity"
            android:label="Registreer"/>
        <activity android:name="nl.saxion.jelmer.topics.activity.NewPostActivity"
            android:label="Bericht"/>
        <activity android:name="nl.saxion.jelmer.topics.activity.PostDetailActivity"
            android:label="Topic"/>
        <activity android:name="nl.saxion.jelmer.topics.activity.NewCommentActivity"
            android:label="Reactie"/>
    </application>

</manifest>
